<style>
 th,td 
{
    border: 1px solid black;
    text-align: center;
}
</style>


<div class="row">
	<div class="col s10">
		<table class="responsive-table" style="margin-left:100px">
			<thead>
				<tr>
					<th data-field="id">ID</th>
					<th data-field="name">NAME</th>
					<th data-field="price">CATAGORY</th>
					<th data-field="price">SIZE</th>
				</tr>
			</thead>
		
			<tbody>
				<tr ng-repeat="x in gameDetail | orderBy:orderme">
					<td>{{x.id}}</td>
					<td >{{x.name}}</td>
					<td>{{x.catagory}}</td>
					<td>{{x.size}}</td>
				</tr>
			</tbody>
		</table>

		<button ng-click="value('name')">NAME</button><button ng-click="value('catagory')"">Catagory</button><button ng-click="value('size')">Size</button>
	</div>
</div>